.header
  height: 6rem
  display: flex
  align-items: center
  background-color: black
  color: white
  text-decoration: none
  a
    font-size: 20px
    color: white
    text-decoration: none
    margin-right: 15px


.logo
  width: 20%
  text-align: center
  font-size: 30px


.cat-links
  width: 100%

.cat-links-container
  float: right

.user-links
  display: flex
  width: 10%

//*
//  background-color: black
//  color: white
//
//a
//  color: white
//  text-decoration: none
//
//a:visited
//  color: white
//
//.nav-links
//  display: flex
//  justify-content: space-between
