.home-title
  padding-top: 45px

.slider-container
  margin-top: 20px

.products
  padding: 20px 0

.slider-wrap
  position: relative
  overflow: hidden
  height: 150px

.slider-main
  margin-top: 30px
  position: absolute
  width: 200%
  display: flex
  overflow: hidden
  transition: transform 0.5s ease

.item
  flex: 0 0 auto
  display: inline-block
  position: relative
  width: 300px
  height: 150px
  background-color: rgba(23, 22, 22, 0.46)
  margin: 0 15px

.product-image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  object-fit: contain

.text
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  background-color: #980000
  text-align: center
  padding: 5px 0

.product-name
  font-size: 16px
  color: white

.product-price
  font-size: 14px
  color: white
  margin-top: 5px

.button-area

  .previous-btn
    position: absolute
    left: 0
    top: 50%
    transform: translate(-50%, -50%)

  .next-btn
    position: absolute
    right: 0
    top: 50%
    transform: translate(-50%, -50%)
