<div class="slider-container">
  <h1 *ngIf="products.length != 0" class="home-title">{{title}}</h1>
  <section class="products">
    <div *ngIf="products.length != 0">
      <div class="container-fluid">
        <div class="slider-wrap">
          <div class="slider-main">
            <div class="item" *ngFor="let product of products">
              <a [routerLink]="['/product-page', product.productId]">
                <img [src]="product.imageURL" alt="{{product.name}}" class="product-image">
                <div class="text">
                  <div class="product-name">{{product.name}}</div>
                  <div class="product-price">{{product.price.toFixed(2) | currency}}</div>
                </div>
              </a>
            </div>
          </div>
          <div class="button-area">
            <button type="button" class="previous-btn" appPrevious>Prev</button>
            <button type="button" class="next-btn" appNext>Next</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
