<div class="admin-container">
  <button><a [routerLink]="['/create-category']">Create</a></button>
  <div class="cards-container">
    <a class="admin-card-link" *ngFor="let category of categoryList" [routerLink]="['/subcategories', category.categoryId]">
      <div class="admin-card">
        <div class="admin-card-btn-container">
          <a class="admin-card-btn edit-btn" [routerLink]="['/edit-category', category.categoryId]">E</a>
          <a class="admin-card-btn delete-btn" [routerLink]="['/delete-category', category.categoryId]">X</a>
        </div>
        <img class="admin-card-img" src="assets/images/admin-ex.jpg" alt="">
        <p class="admin-card-title">{{category.name}}</p>
      </div>
    </a>
  </div>
</div>
