<div class="">
  <ul class="filters-list">
    <h2>Filters</h2>
    <li class="filter-li"><input class="checkbox-input" name="filter" type="checkbox" checkbox>Filter1</li>
    <li class="filter-li"><input class="checkbox-input" name="filter" type="checkbox" checkbox>Filter1</li>
    <li class="filter-li"><input class="checkbox-input" name="filter" type="checkbox" checkbox>Filter1</li>
    <li class="filter-li"><input class="checkbox-input" name="filter" type="checkbox" checkbox>Filter1</li>
  </ul>
</div>
