<div class="wrapper">
  <div class="product-page">
    <div class="details-container">
      <h1 class="product-name">{{productInfo.name}}</h1>
      <p class="product-price">
        <span *ngIf="productInfo.discount" class="original-price">{{productInfo.price.toFixed(2)}} €</span>
        {{ discountedPrice(productInfo.price, productInfo.discount ? productInfo.discount.percentage : undefined).toFixed(2) }} €
      </p>
      <hr class="horizontal-line">
      <p class="product-description">{{productInfo.description}}</p>
      <p class="product-size">size</p>
      <div class="product-buttons">
        <div class="quantity-buttons">
          <button class="round-button" (click)="changeQty(-1)">-</button>
          <p>{{cartItem.quantity}}</p>
          <button class="round-button" (click)="changeQty(1)" [disabled]="!isInStock">+</button>
        </div>
        <div class="size-buttons">
          <button *ngFor="let size of stocks" (click)="selectSize(size)" [class.selected]="isSelectedSize(size)"
                  class="product-btn">{{size.size}}</button>
        </div>
      </div>
      <p style="color: red">{{errorMessage}}</p>
      <button class="add-to-cart-btn" (click)="addToCart()" [disabled]="!isSizeSelected()">Add to cart</button>
    </div>
    <div class="image-container">
      <img [src]="productInfo.imageURL" class="product-image">
      <div *ngIf="productInfo.discount" class="discount-banner"><h2>{{ productInfo.discount.discountName }}</h2></div>
    </div>
  </div>
</div>
