.showcase-container
  margin: 10px 20px
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.filters-container
  margin-left: 40px
  width: 20%
  position: sticky
  top: 60px

.products-container
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  width: 70%

.showcase-title
  padding-top: 20px
  padding-bottom: 40px
  text-align: center
  flex: 0 0 100%
  text-transform: uppercase
  letter-spacing: 15px
  font-size: 50px
  font-weight: 100

.card-container
  height: 300px
  width: 150px
  margin: 50px
