<div class="wrapper">
  <!-- Zone de recherche -->
  <div class="search-section">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by product name" (keyup)="filterProducts()">

    <!-- Dropdown pour les catégories -->
    <div class="dropdown">
      <button class="dropbtn">Categories</button>
      <div class="dropdown-content">
        <label *ngFor="let category of categories">
          <input type="checkbox" [(ngModel)]="selectedCategories[category.name]" (change)="filterProducts()">{{category.name}}
        </label>
      </div>
    </div>

    <!-- Dropdown pour les sous-catégories -->
    <div class="dropdown">
      <button class="dropbtn">Sub-Categories</button>
      <div class="dropdown-content">
        <label *ngFor="let subCategory of subCategories">
          <input type="checkbox" [(ngModel)]="selectedSubCategories[subCategory.name]" (change)="filterProducts()">{{subCategory.name}}
        </label>
      </div>
    </div>
  </div>

  <div class="products-section">
    <div *ngIf="filteredProducts.length == 0">
      <p>Nothing to show</p>
    </div>
    <div *ngIf="filteredProducts.length > 0">
      <!-- ... autres éléments ... -->

      <table>
        <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Sex</th>
          <th>Price</th>
          <th>Sub-category</th>
          <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>
            <input type="checkbox"
                   [checked]="isProductSelected(product.productId)"
                   (change)="toggleProductSelection(product)">
          </td>
          <td>{{product.name}}</td>
          <td>{{product.sex}}</td>
          <td>{{product.price.toFixed(2)}}</td>
          <td>{{product.subCategory.name}}</td>
          <td>{{product.subCategory.category.name}}</td>
        </tr>
        </tbody>
      </table>

    <button class="add-to-cart-btn" (click)="assignProductsToDiscount()">Assign Selected Products to DISCOUNTNAME</button>

    </div>
  </div>
</div>
