/* You can add global styles to this file, and also import other style files */

//GENERAL COMMON CSS

*
  padding: 0
  margin: 0
  box-sizing: border-box
  color: white

.app-container
  display: flex
  flex-direction: column
  min-height: 100vh


.app-header
  width: 100%


.main-page
  flex-grow: 1
  display: flex
  justify-content: center
  overflow: hidden /* Hide any content that exceeds the container */
  position: relative

.content
  height: 65rem
  padding-bottom: 10rem
  width: 85%
  margin: 0 auto
  //background-color: white


.background-image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  object-fit: cover
  z-index: -1 /* Move the image behind the content */


.app-footer
  width: 100%
  background-color: black

.banner
  width: 100%
  height: 400px
  overflow: hidden


.banner img
  width: 100%
  height: auto



a
  text-decoration: none

label
  font-size: 20px

input
  width: 100%
  margin: 20px

  &:focus
    background-color: #d3dfe8

select
  width: 100%
  height: 30px
  margin: 20px 0
  padding: 2px

option
  width: 100%
  height: 30px
  margin: 20px 0
  padding: 2px


button
  padding: 10px
  background-color: black
  color: white
  margin: 10px

  a
    color: white

ul
  list-style: none

.round-button
  font-size: 25px
  border-radius: 26px
  width: 40px
  height: 40px
  font-weight: 700
  margin: 10px

.main
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-position: center
  z-index: -5
  background-image: url('assets/images/registerback.jpg')
  overflow-y: scroll
  display: inline-block




.wrapper
  min-height: 50rem
  margin: 0 5rem




// TABLES COMMON CSS

table
  width: 80%
  border-collapse: collapse

thead tr th
  background-color: black
  color: white
  padding: 12px
  vertical-align: top
  border: 1px solid white

tbody tr td
  color: black
  background-color: white
  padding: 8px
  text-align: center
  border: 1px solid black


//FORM COMMON CSS

form
  height: 100%
  color: #000000
  padding: 3rem
  display: flex
  flex-direction: column
  border-radius: 50px
  background-color: rgba(0, 0, 0, 0.53)

  a
    color: white

  label
    padding-left: 5px
    color: white

  input
    height: 30px
    margin: 20px 0
    padding: 2px
    color: black

  button
    margin: 20px auto
    transform: skew(-15deg)
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 2px
    border: none
    outline: none
    background-color: #b50000
    color: white
    font-weight: 600
    width: 80%
    padding: 20px 20px

  span
    display: inline-block
    transform: skew(15deg)


//ADMIN DASHBOARD COMMON CSS

.cards-container
  width: 70%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 10px
  margin: 0 auto


.admin-card-link
  text-decoration: none


.admin-card
  position: relative
  width: 300px
  height: 200px
  overflow: hidden
  margin-bottom: 20px


.admin-card-img
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  object-fit: cover


.admin-card-title
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: #fff
  text-align: center
  width: 100%
  padding: 10px
  background-color: rgba(0, 0, 0, 0.5)
  text-shadow: 1px 1px 1px #000
  margin: 0


.admin-card-btn-container
  position: absolute
  top: 10px
  right: 10px


.admin-card-btn
  display: inline-block
  padding: 12px 16px
  background-color: #333
  color: #fff
  border-radius: 30px
  margin-left: 10px
  z-index: 1
  position: relative


.admin-card-btn.edit-btn
  margin-right: 10px

.app-title
  padding-top: 5rem
  padding-bottom: 40px
  text-align: center
  flex: 0 0 100%
  text-transform: uppercase
  letter-spacing: 15px
  font-size: 50px
  font-weight: 100

