  <form [formGroup]="paymentMethodForm"  (ngSubmit)="savePaymentMethod()">
    <label for="name">Name</label>
    <input id="name" name="name" placeholder="Enter Name" type="text" formControlName="name" [(ngModel)]="paymentMethod.name">
    <div *ngIf="name?.touched && name?.invalid" class="error-message">
      <p style="color: red">Name is required.</p>
    </div>

    <input type="file" id="image" name="image" (change)="onImageSelected($event)" formControlName="image">
    <div *ngIf="image?.touched && image?.invalid" class="error-message">
      <p style="color: red">image is required.</p>
    </div>

    <button type="submit">Submit</button>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
