.app-order-item
  margin-bottom: 20px
  border: 1px solid #ccc
  padding: 10px

.order-title
  padding-top: 20px

.order-info
  margin: 25px

.order-item-details
  display: flex
  align-items: center

.image-wrapper
  flex: 0 0 80px
  margin-right: 10px

.o-product-img
  height: 35px
  width: 35px

.item-info
  flex-grow: 1

.item-name
  font-weight: bold

.item-quantity
  color: #888

.o-paym-icon
  transform: translate(40%, 25%)
  height: 35px
  width: 35px
