<div class="orders-container">
  <h1>All Orders</h1>
  <h2>ID: DHSOIHDI</h2>
  <p>20/03/2022</p>
  <table>
    <tr>
      <th>
        <p>Product</p>
      </th>
      <th>
        <p>Quantity</p>
      </th>
      <th>
        <p>Price (when bought)</p>
      </th>
    </tr>
    <tr>
      <td>
        Nom et img du product
      </td>
      <td>
        4
      </td>
      <td>
        41€
      </td>
    </tr>
  </table>
  <p>Methode de paiement : Paypal</p>
  <p>A l'addresse: Rue des Ailes, 106 Bruxelles</p>
</div>
