  <h1>Order Details</h1>

  <div class="order-info">
    <div class="order-info-item">
      <span class="label">Date:</span>
      <span class="value">{{ order.purchaseDate }}</span>
    </div>
    <div class="order-info-item">
      <span class="label">Status:</span>
      <span class="value">{{ order.pending }}</span>
    </div>
    <div class="order-info-item">
      <span class="label">Payment Method:</span>
      <span class="value">{{ order.paymentMethod }}</span>
    </div>
    <div class="order-info-item">
      <span class="label">Total Price:</span>
      <span class="value">{{ order.total }}</span>
    </div>
  </div>

  <h2>Order Items</h2>

  <table class="order-items-table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of orderItems">
      <td>{{ item.product.name}}</td>
      <td>{{ item.quantity }}</td>
    </tr>
    </tbody>
  </table>
