<div class="wrapper">
  <h1 class="app-title">Sub-categories Management Dashboard</h1>
  <div class="" *ngIf="subCategories.length == 0">
    <p>Nothing to show</p>
  </div>
  <div class="" *ngIf="subCategories.length > 0">
  </div>
  <button><a [routerLink]="['/create-subcategory', categoryId]">Create</a></button>
  <div class="cards-container">
    <a class="admin-card-link" *ngFor="let subCategory of subCategories"
       [routerLink]="['/admin-products-by-subcategory', subCategory.subCategoryId]">
      <div class="admin-card">
        <div class="admin-card-btn-container">
          <a class="admin-card-btn edit-btn" [routerLink]="['/edit-subcategory', subCategory.subCategoryId]">E</a>
          <a class="admin-card-btn delete-btn" (click)="deleteSubCategory(subCategory.subCategoryId)">X</a>
        </div>
        <img [src]="subCategory.imageURL" class="admin-card-img">
        <p class="admin-card-title">{{subCategory.name}}</p>
      </div>
    </a>
  </div>
</div>
